mi_ext/product/priv-app/MIBrowserGlobal_builtin_before_2021/MIBrowserGlobal_builtin_before_2021.apk
mi_ext/product/priv-app/Messages_arm64_xxhdpi/Messages_arm64_xxhdpi.apk
mi_ext/product/priv-app/MIUIVideoPlayer/MIUIVideoPlayer.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
boot.img
vendor/camera/mimoji/model2.zip
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MIUIMusicGlobal/MIUIMusicGlobal.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/ExtraPhotoGlobal/ExtraPhotoGlobal.apk
product/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
product/priv-app/MIUISecurityCenterGlobal/MIUISecurityCenterGlobal.apk
product/priv-app/MIUIAICR/MIUIAICR.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/data-app/MIMediaEditorGlobal/MIMediaEditorGlobal.apk
product/app/Photos/Photos.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/YouTube/YouTube.apk
product/app/Biometric/Biometric.apk
product/app/Gmail2/Gmail2.apk
fs_config_dirs
